<h1>Curso angular básico</h1>

<!-- <app-mi-primer-componente></app-mi-primer-componente> -->
<!-- <app-cmp01-data-binding></app-cmp01-data-binding> -->
<!-- <app-cmp02-variables-de-plantilla></app-cmp02-variables-de-plantilla> -->
<!-- <app-cmp03-comunicacion-entre-componentes></app-cmp03-comunicacion-entre-componentes> -->
<!-- <app-cmp04-directivas></app-cmp04-directivas> -->
<!-- <app-cmp05-pipes></app-cmp05-pipes> -->
<!-- <app-cmp06-formularios></app-cmp06-formularios> -->
<!-- <app-cmp07-servicios></app-cmp07-servicios> -->
<!-- <app-cmp08-observables></app-cmp08-observables> -->
<!-- <app-cmp09-http></app-cmp09-http> -->
<!-- <app-cmp10-routing></app-cmp10-routing> -->
<app-cmp11-modulos></app-cmp11-modulos>